/** Generales **/
:root{
    --primario: #2ecc71;
    --primarioOscuro: #27ae60;

    --claro: #ecf0f1;
    --oscuro: #2c3e50;

    --danger: #e74c3c;
}

.contenedor{
    width: 95%;
    margin: 0 auto;
    max-width: 1500px;
}

@media (min-width: 768px) {
    .contenedor{
        width: 85%;
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    .contenedor{
        width: 80%;
        margin: 0 auto;
    }
}

/** Titulos y subtitulos **/
.titulo{
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
}

.subtitulo{
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
}
/** Texto **/
.textPimario{
    color: var(--primario);
}
.textClaro{
    color: var(--claro);
}
.textOscuro{
    color: var(--oscuro);
}
.link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
}
p{
    margin: 0;
    padding: 0;
}
/** Globales **/
body{
    margin-top: 100px;
    font-family: 'Muli', sans-serif;
}

img{
    width: 100%;
}

header{
    height: calc(100vh - 100px);
    background-color: var(--oscuro);
    display: flex;
    flex-direction: column;
}

.btn{
    text-decoration: none;
    text-transform: uppercase;
    padding: .3rem 1rem;
    display: block;
    border: none;
}

@media (min-width: 768px) {
    .btn{
        display: inline-block;
    }
}

.btn_primary{
    background-color: var(--primario);
}

.btn_danger{
    background-color: var(--danger);
}

/** INDEX **/

/* header */
header .barra-navegacion{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    height: calc(100px - 2rem);
    position: fixed;
    top: 0;
    width: calc(100% - 2rem);
    background-color: var(--oscuro);
    border: none;
    z-index: 10;
    align-items: center;
}

.barra-navegacion .logo{
    height: 80px;
    color: white;
    font-family: 'Muli', sans-serif;
}

.logo .link h2{
    color: white;
    font-family: 'Muli', sans-serif;
}

.menu-puntos{
    font-size: 1.6rem;
    display: flex;
    align-items: center;
}

@media (min-width: 992px) {
    .menu-puntos{
        display: none;
    }
}
.menu-puntos i{
    padding: .2rem 1rem;
    color: var(--claro);
}
nav{
    display: none;
    justify-content: space-evenly;
    flex: 0 0 45%;
    text-align: center;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    background-color: var(--oscuro);
    flex-direction: column;
}

@media (min-width: 992px) {
    nav{
        display: flex!important;
        align-items: center;
        position: relative;
        width: inherit;
        background-color: transparent;
        flex-direction: row;
        top: 0;
    }
}

nav .link{
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--claro);
    transition: color .2s ease;
    padding: .6rem 1rem;
    border-bottom: solid 1px rgba(0, 0, 0, .2);
}

nav .link:hover{
    color: var(--primarioOscuro);
}

nav .link:last-of-type{
    border: none;
}

@media (min-width: 992px) {
    nav .link{
        font-size: 1.1rem;
        font-weight: 500;
        text-decoration: none;
        text-transform: uppercase;
        color: var(--claro);
        transition: color .2s ease;
        border: none;
    }
}

header .resto-header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
    flex: 1;
    flex-direction: column;
    position: relative;
}

@media (min-width: 768px) {
    header .resto-header{
        flex-direction: row;
    }
}

header .resto-header h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 1rem;
    color: var(--primarioOscuro);
    font-size: 3.2rem;
}
.resto-header h1 span{
    display: block;
    margin: 1rem 0 0 20%;
    color: var(--primario);
    font-size: 3.5rem;
}
@media (min-width: 480px) {
    .resto-header h1 span{
        margin: 1rem 0 0 20%;
    }
}

@media (min-width: 1050px) {
    .resto-header h1 span{
        margin: 1rem 0 0 85%;
    }
}

header .resto-header .img{
    max-width: 500px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .resto-header .img{
        margin-bottom: 0;
    }
}

@media (min-width: 768px) {
    header .resto-header .img{
        width: 30%;
        margin: 0;
        margin-right: 3rem;
    }
}

.resto-header .enlace_proyectos{
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: var(--claro);
}

@media (min-width: 768px) {
    .resto-header .enlace_proyectos{
        right: calc( 50% - 150px );
        max-width: 350px;
        left: unset;
    }
}

.enlace_proyectos a{
    display: block;
    text-decoration: none;
    color: var(--claro);
}
/** FOOTER **/

.footer{
    height: 10rem;
    padding-top: 1rem;
    background-color: var(--oscuro);
    color: var(--claro);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer .cosas-footer{
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.nav-footer{
    display: none;
}

@media (min-width: 992px) {
    .nav-footer{
        display: flex;
    }
}

.cosas-footer .datos-contacto{
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

@media (min-width: 992px) {
    .cosas-footer .datos-contacto{
        padding: 0 1rem;
    }
}

@media (min-width: 992px) {
    .cosas-footer .datos-contacto{
        flex: 0 0 45%;
        align-items: initial;
    }
}

.datos-contacto .dato{
    display: flex;
    align-items: center;
    font-size: 1.05rem;
}

@media (min-width: 992px) {
    .datos-contacto .dato{
        margin: 1rem 0 0 2rem;
    }
}

.datos-contacto .dato i{
    margin-right: .5rem;
}
.footer .marca-registrada{
    text-align: center;
    background-color: rgba(0, 0, 0, .2);
    padding: .7rem 0;
}

.footer .marca-registrada p{
    display: inline;
}

/** SECCIONES **/
main section{
    padding-bottom: 1rem!important;
    border-bottom: solid 1px var(--oscuro);
}

main section:last-of-type{
    border: none;
    padding-bottom: 0!important;
}

/** CONOCEME **/
.conoceme{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media (min-width: 600px) {
    .conoceme .datos{
        display: flex;
        align-items: center;
    }
}

.conoceme .img{
    width: 25%;
    margin: 2rem auto;
    max-width: 150px;
    min-width: 75px;
}

.conoceme .img .perfil{
    border-radius: 50%;
}
.conoceme blockquote{
    font-weight: 500;
    text-align: center;
}

/** PROYECTOS **/

.proyectos-populares{
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px) {
    .proyectos-populares{
        flex-direction: row;
        justify-content: space-between;
    }

}
.proyectos-populares .proyecto{
    max-width: 300px;
    border: solid 1px var(--oscuro);
    padding: 1rem;
    margin-bottom: .2rem;
    border-radius: 5px;
    flex-basis: calc(33% - 1rem);
    transition: transform .5s ease;
    background-color: var(--claro);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
@media(min-width: 992px) {
    .proyectos-populares .proyecto{
        max-width: 450px;
    }
}

.proyectos-populares .proyecto:hover{
    transform: scale(1.1);
    z-index: 1;
}

.proyecto .informacion-proyecto{
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .5rem .3rem;
}

.informacion-proyecto .enlace-proyecto{
    margin: .3rem;
    border-bottom: 1px solid var(--oscuro);
}

.proyecto .link{
    display: inline-block;
    padding: .5rem 0;
    width: 100%;
    text-align: center;
}
.proyecto .link:hover{
    cursor: pointer;
}

.proyecto .tecnologias{
    text-align: center;
    list-style: none;
    margin: 1rem 0 0 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.proyecto .tecnologias li{
    margin-bottom: .3rem;
}

/** CONTACTO **/
.contactame .campo{
    width: 100%;
    display: inline-block;
}
.contactame .campo label{
    font-family: 'Roboto';
    font-size: 1rem;
}

.contactame .campo .input{
    width: 100%;
    padding: .5rem 1rem;
}

/** UTILIDADES **/

.hidden{
    display: none;
}